.footer {
    display: flex;
    height: 128px;
    padding: 24px 106px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
    color: var(--primary-color);
    background-color: var(--primary-background);

    a {
        font-size: var(--font-size-large);
        font-weight: bold;
    }

    div {
        display: flex;
        gap: var(--gap-large);
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
            gap: 6px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}