.auth-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .auth-container {
        display: flex;
        justify-content: center;
        background-color: var(--secondary-background);
        width: fit-content;
        height: 700px;
        width: 850px;

        border-radius: 16px;

        .left {
            width: 50%;
            background: url("https://picsum.photos/700");
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: var(--gap-large);

            width: 60%;
            padding: 10px 32px;

            form {
                display: flex;
                flex-direction: column;
                gap: var(--gap-large);

                div {
                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-small);

                    .role-option {
                        flex-direction: row;

                        label {
                            font-size: var(--font-size-small);
                            font-weight: normal;
                        }
                    }
                }

                input {
                    border: none;
                    outline: none;
                    border-radius: 8px;
                    padding: 12px;
                }

                .remember-me {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--gap-xsmall);

                    label {
                        font-size: var(--font-size-small);
                        font-weight: normal;
                    }

                    input[type="checkbox"] {
                        width: 16px;
                        height: 16px;
                        accent-color: var(--secondary-color);
                        color: black;
                    }
                }

                .name-fields {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    div {
                        flex: 1;
                    }
                }

                .auth-link {
                    cursor: pointer;
                }

            }
        }
    }
}